# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
/target/
/posp-main-frontend.iml
/.classpath
/.settings/
/.project
logs
.flattened-pom.xml
